@import "tailwindcss";

@layer utilities {
    .animate-marquee {
        animation: marquee 25s linear infinite;
    }

    .animate-spin-slow {
        animation: spin 8s linear infinite;
    }

    .animate-shake {
        animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
    }

    .animate-blur-in {
        animation: blur-in 0.6s ease-out forwards;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes blur-in {
    0% {
        filter: blur(12px);
        opacity: 0;
        transform: scale(0.98);
    }

    100% {
        filter: blur(0);
        opacity: 1;
        transform: scale(1);
    }
}

#root {
    animation: blur-in 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

html {
    scroll-behavior: smooth;
}